@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*=============================================
Css Indexing
===============================================
1 Base CSS

===============================================*/





/*===========================================
Base CSS
============================================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {


}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
 color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  font-size: 14px;
  overflow: hidden;
  background: #fafafa;
}
label {
  padding: 0;
  margin: 0;
}
ul, li, ol {
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
a, img {
  border: 0;
  outline: none;
  text-decoration: none;
}
input::-moz-focus-inner {
  border: 0;
}
bo {
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
input, select, textarea, button{
  font-family: 'Muli', sans-serif;
}
input:focus, select:focus, textarea:focus, button:focus{
  outline: 0;
}

a {
  color: inherit;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }


p {
  margin-bottom: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0; }


i.material-icons {
  font-size: inherit;
  line-height: inherit;
}
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{

  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #777;
}

/*===========================================
Text Styles CSS
============================================*/
.t-title-size{
  font-size: 18px;
}
.t-bold{
  font-weight: 600;
}
.t-normal{
  font-weight: normal;
}
.t-center{
  text-align: center;
}
.t-right{
  text-align: right;
}



/*===========================================
Padding & Margins CSS
============================================*/
.p-5{
  padding: 5px;
}
.p-10{
  padding: 10px;
}
.p-15{
  padding: 15px;
}
.p-20{
  padding: 20px;
}
.p-25{
  padding: 25px;
}
.p-30{
  padding: 30px;
}
.p-35{
  padding: 35px;
}
.p-40{
  padding: 40px;
}
.p-45{
  padding: 45px;
}
.p-50{
  padding: 50px;
}

.p-right5{
  padding-right: 5px;
}
.p-right10{
  padding-right: 10px;
}
.p-right15{
  padding-right: 15px;
}
.p-right20{
  padding-right: 20px;
}
.p-right25{
  padding-right: 25px;
}
.p-right30{
  padding-right: 30px;
}

.p-left5{
  padding-left: 5px;
}
.p-left10{
  padding-left: 10px;
}
.p-left15{
  padding-left: 15px;
}
.p-left20{
  padding-left: 20px;
}
.p-left25{
  padding-left: 25px;
}
.p-left30{
  padding-left: 30px;
}

.m-5{
  margin:: 5px;
}
.m-10{
  margin: 10px;
}
.m-15{
  margin: 15px;
}
.m-20{
  margin: 20px;
}
.m-25{
  margin: 25px;
}
.m-30{
  margin: 30px;
}
.m-35{
  margin: 35px;
}
.m-40{
  margin: 40px;
}
.m-45{
  margin: 45px;
}
.m-50{
  margin: 50px;
}

/*===========================================
Display Styles
============================================*/
.d-flex{
  display: flex;
}
.d-flex-align-center{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.d-flex-align-start{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin: 50px;
}
.d-flex-align-ex{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin: 50px;
}
.d-flex-align-center-column{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 0.5;
}



/*===========================================
Page Styles
============================================*/

.wraper {
    width: 100%;
    height: 100%;
}


.container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left-content {
    width: 300px;
    overflow-y: auto;
    height: 100%;
    background: #fff;
    border-right: 1px solid rgba(221, 221, 221, 0.38);
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    overflow-y: auto;
    margin-left: 10px;
    background: #fff;
    border-left: 1px solid rgba(221, 221, 221, 0.38);
}
.logo {
    display: flex;
    justify-content: flex-end;
}

.logo a {
    color: #fff;
    text-align: right;
    background: #000;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 30px;
    font-weight: 500;
}

.nav {
    flex: 1;
    /* display: flex; */
    justify-content: flex-end;
    margin: 50px 0px;
}

.nav ul li, .nav ul li a {
    display: flex;
    justify-content: flex-end;
}

.nav ul li a {
    padding: 8px 0px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
}

.nav ul li a:hover {
    color: #000;
}
.nav ul li a:after {
    content: "";
    width: 0;
    height: 1px;
    background: #000;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav ul li a:hover:after {
    width: 100%;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.left-footer {
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.foot-contact, .social-icons ul, .copy-rights {
    display: flex;
    justify-content: flex-end;
}

.social-icons ul li {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.foot-contact ul {
    display: flex;
    flex-direction: column;
}

.foot-contact ul li {
    justify-content: flex-end;
    display: flex;
    margin: 2px 0px;
}

.foot-contact {
   margin: 5px 0px;
}

.web {
  margin-bottom:30px ;
}


.social-icons ul li a {
    padding: 5px 8px;
    font-size: 16px;
}


.social-icons ul li a:hover {
  color: #000;
  transform: scale(1.2) translateY(-5px);
}
.user-profile {
    padding-left: 50px;
}
.user-img-skills {
  width: 1000px;
  height: 800px;
  padding: 0px;
}
.user-img-ed {
  width: 850px;
  height: 500px;
  padding: 0px;
}
.user-img-ed {
  width: 850px;
  height: 500px;
  padding: 0px;
}
._711 {
  width: 180px;
  height: 180px;
  padding: 0px;
  margin-left: 20px;
  margin-top: 20px;
}

.sm-text {
    letter-spacing: 2.1px;
    font-weight: normal;
    color: #222222;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

.name {
    font-size: 40px;
    margin: 15px 0px;
    color: #222222;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.role {
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #222222;
}
.role_python {
    font-size: 21px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #222222;
    margin-top: 15px;
}
.role_SQL {
    font-size: 21px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-top: 90px;
    color: #222222;
}
.role_TA {
    font-size: 21px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-top: 100px;
    color: #222222;
}
.role_php {
    font-size: 21px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-top: 95px;
    color: #222222;
}
.role_html {
    font-size: 21px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-top: 95px;
    color: #222222;
}
.role_css {
    font-size: 21px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-top: 120px;
    color: #222222;
}
.role_js {
    font-size: 21px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-top: 105px;
    color: #222222;
}
.role_docker {
    font-size: 21px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-top: 95px;
    color: #222222;
}
.port {
    font-size: 28px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 135px;
    color: #222222;
}
.port_php {
    font-size: 28px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #222222;
}
.port_mining {
    font-size: 28px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
    margin-left: 180px;
    color: #222222;
}
.port_BD {
    font-size: 28px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
    margin-left: 250px;
    color: #222222;
}
.port_top {
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  margin-left: 85px;
  color: #000088;
}
.G_top {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-left: 270px;
  color: #000088;
}
.G_small {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
  margin-left: 250px;
  color: #000088;
}
.port_small {
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px;
  margin-left: 60px;
  color: #000088;
}
.port_ML {
    font-size: 28px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
    margin-left: 280px;
    color: #222222;
}
.port_G {
    font-size: 28px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
    margin-left: 230px;
    color: #222222;
}
.ex {
    font-size: 22px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-top: 40px;
    color: #222222;
}
.ex_f {
    font-size: 22px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-top: 75px;
    color: #222222;
}
.ex_711 {
    font-size: 22px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-top: 75px;
    color: #222222;
}

.text {
   
    font-size: 15px;
}

.pr-list {
    margin: 30px 0px;
    
}

.pr-list ul li {
    margin-bottom: 8px;
}

.pr-list ul li i {
    width: 18px;
}
.social-icons-head ul {
    display: flex;
}

.social-icons-head ul li a {
    padding: 5px 10px;
    font-size: 22px;
    transition: all .3s;
        display: flex;
}

.social-icons-head {}

.social-icons-head ul li:nth-child(1) a {
    padding-left: 0;
}

.social-icons-head ul li a:hover {
    color: #000;
    transform: scale(1.2) translateY(-5px);
}
.sec-title {
    margin-bottom: 50px;
}

.pg-title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    color: #000;
}

.pg-sub-title {
    margin-bottom: 10px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing: 5px;
}
.imgstyle{
  padding: 0px;
  width:700px;
  height: 500px; 
  overflow:hidden;
  margin: auto;
}
.imgstyle_ML{
  padding: 0px;
  width:900px;
  height: 700px; 
  overflow:hidden;
  margin: auto;
}
.imgs{
  float: left;
  padding: 0px;
}
.imgs_php{
  float: left;
  padding: 0px;
}
.imgs_min{
  float: left;
  padding: 0px;
}
.imgs_TA{
  float: left;
  padding: 0px;
  height: 420px;
}
.imgs_pa{
  float: left;
  padding: 0px;
  height: 400px;
}
.imgs_BD{
  float: left;
  padding: 0px;
  height: 400px;
}
.imgs_ML{
  float: left;
  padding: 0px;
  height: 500px;
}
.imgs_G{
  float: left;
  padding: 0px;
  height: 400px;
}
.button-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/*** IN PROGRESS ***/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --c1: #2187e7;
  --b2: #222;
  --b3: #333;
  --w1: #fff;
  --w2: #eee;
  --t1: all 0.5s ease 0s;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
  content: "";
}

.content {
  width: 68vw;
  height: 70vh;
  background: #fff0;
  margin-top: -50px;
  margin-bottom: 350px;
  margin-left: 30px;
}

.profile-skills {
  display: flex;
  top: 150px;
  position: relative;
  width: 100%;
  align-items: flex-start;
}

.profile-skills > div {
  width: 100%;
  margin-right: 3%;
  border-radius: 2px;
  position: relative;
}

ul.skills {
  width: 100%;
  position: relative;
  padding: 25px 35px;
  background: linear-gradient(0deg, var(--c1) 0 10px, var(--b2) 0 calc(100% - 10px), var(--c1) 0 100%);
}

ul.skills2 {
  --c1: #9acd32;
}

ul.skills3 {
  --c1: #ff4500;
}

ul.skills:before {
  content: "Skills";
  text-transform: uppercase;
  position: absolute;
  top: -75px;
  height: 50px;
  color: var(--w1);
  background-color: var(--b2);
  width: 100%;
  left: 0;
  padding: 15px 15px 0 0;
  text-align: end;
  font-weight: 600;
  z-index: 1;
  transition: var(--t1);
  font-size: 50px;
  line-height: 35px;
  transform: scaleY(1.65);
}

ul.skills2:before {
  content: "Tools";
}

ul.skills3:before {
  content: "Codes";
}

ul.skills:after {
  content: "";
  position: absolute;
  border: 40px solid #fff0;
  border-top-color: var(--b2);
  top: -30px;
  left: 10px;
  z-index: 0;
  transition: var(--t1);
  filter: drop-shadow(0 11px 0.1px var(--w1));
}

ul.skills:hover:before,
label:hover + ul.skills:before,
input:checked + label + ul.skills:before {
  transition: var(--t1);
  background-color: #2187e7;
  background-position: 0 50%;
}
ul.skills:hover:after,
label:hover + ul.skills:after,
input:checked + label + ul.skills:after {
  top: -20px;
  transition: var(--t1);
  border-top-color: #2187e7;
}

ul.skills2:hover:before,
label:hover + ul.skills2:before,
input:checked + label + ul.skills2:before {
  background-color: #9acd32;
}
ul.skills2:hover:after,
label:hover + ul.skills2:after,
input:checked + label + ul.skills2:after {
  border-top-color: #9acd32;
}

ul.skills3:hover:before,
label:hover + ul.skills3:before,
input:checked + label + ul.skills3:before {
  background-color: #ff4500;
}
ul.skills3:hover:after,
label:hover + ul.skills3:after,
input:checked + label + ul.skills3:after {
  border-top-color: #ff4500;
}

ul.skills li {
  --per: 50;
  --dur: calc(calc(var(--per) / 100) * 1.5s);
  margin: 0 0 5px 0;
  list-style: none;
  padding: 20px 0;
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
  color: var(--w2);
}

ul.skills li:before {
  content: "";
  position: absolute;
  background: #1c1c1c;
  height: 16px;
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  border: 1px solid #111;
  border-color: #111 #323232 #323232 #111;
  --track: #2292dd40;
  background: linear-gradient(
    90deg,
    var(--track) calc(calc(var(--per) * 1%) + 4px),
    #1c1c1c calc(calc(var(--per) * 1%) + 4px)
  );
}

ul.skills2 li:before {
  --track: #9acd3240;
}

ul.skills3 li:before {
  --track: #ff450040;
}

ul.skills li:after {
  content: "";
  height: 11px;
  margin: 0 0 2px 0;
  background: #2187e7;
  position: absolute;
  box-shadow: 0px 0px 10px 1px #00c6ff66;
  left: 3px;
  width: 0%;
  bottom: 0;
  transition: all var(--dur) ease 0s;
  animation: start 1s ease 0s 2 alternate;
}

ul.skills2 li:after {
  background: #9acd32;
  box-shadow: 0px 0px 10px 1px #9acd3299;
}

ul.skills3 li:after {
  background: #ff4500;
  box-shadow: 0px 0px 10px 1px #ff450099;
}

ul.skills li:hover {
  filter: brightness(1.5);
  transition: var(--t1);
}

ul.skills:hover li:after,
label:hover + ul.skills li:after,
input:checked + label + ul.skills li:after {
  width: calc(calc(var(--per) * 1%) - 2px);
}

@keyframes start {
  100% {
    width: calc(calc(var(--per) * 1%) - 2px);
  }
}

ul.skills2 li:after {
  animation-delay: 0.5s;
}
ul.skills3 li:after {
  animation-delay: 1s;
}

ul.skills li span {
  font-weight: 500;
}

ul.skills li span:before {
  position: absolute;
  right: -25px;
  top: 43px;
  transition: var(--t1);
  content: "";
  opacity: 1;
  border: 7px solid #fff0;
}

ul.skills li:hover span:before,
.profile-skills input:checked + label + ul.skills li span:before {
  transition: var(--t1);
  right: calc(calc(calc(100 - var(--per)) * 1%) - 12px);
  opacity: 1;
  border-right-color: #2187e7;
}

ul.skills2 li:hover span:before,
.profile-skills input:checked + label + ul.skills2 li span:before {
  border-right-color: #9acd32;
}

ul.skills3 li:hover span:before,
.profile-skills input:checked + label + ul.skills3 li span:before {
  border-right-color: #ff4500;
}

ul.skills li span:after {
  position: absolute;
  right: -40px;
  top: 38px;
  transition: var(--t1);
  counter-reset: percent var(--per);
  /*content: counter(percent) "%";*/
  content: counter(percent);
  color: var(--b2);
  opacity: 1 !important;
  padding: 4px 6px;
  border-radius: 1px;
  font-weight: bold;
  pointer-events: none;
}

ul.skills li:hover span:after,
.profile-skills input:checked + label + ul.skills li span:after {
  transition: var(--t1);
  right: calc(calc(85 - var(--per)) * 1%);
  right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
  opacity: 1;
  background: var(--c1);
}

ul.skills2 li:hover span:after {
  background: #9acd32;
}

ul.skills3 li:hover span:after {
  background: #ff4500;
}

/*********************/
/*** SKILLS VALUES ***/
/*********************/

ul.skills li.sk-doc { --per: 30; }
ul.skills li.sk-py { --per: 75; }
ul.skills li.sk-tab { --per: 65; }
ul.skills li.sk-dtb { --per: 65; }
ul.skills li.sk-pro { --per: 60; }
ul.skills li.sk-res { --per: 90; }

ul.skills li.sk-gim { --per: 90; }
ul.skills li.sk-ado { --per: 60; }
ul.skills li.sk-not { --per: 85; }
ul.skills li.sk-tri { --per: 70; }
ul.skills li.sk-wor { --per: 90; }
ul.skills li.sk-tre { --per: 65; }

ul.skills li.sk-css { --per: 50; }
ul.skills li.sk-htm { --per: 50; }
ul.skills li.sk-jav { --per: 25; }
ul.skills li.sk-php { --per: 50; }
ul.skills li.sk-sql { --per: 75; }
ul.skills li.sk-pug { --per: 40; }

/*********************/
/***** TOP LABELS ****/
/*********************/

.profile-skills input {
  display: none;
}

.profile-skills label {
  background: var(--w1);
  position: absolute;
  top: -61px;
  left: 22px;
  z-index: 2;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  cursor: pointer;
  transition: var(--t1);
  box-shadow: 0 0 0 0 var(--w1);
}

.profile-skills label:before {
  content: "";
  background: #fff0;
  position: absolute;
  top: 12px;
  left: 11px;
  z-index: 2;
  border: 9px solid var(--b2);
  border-top-width: 0;
  border-right-width: 0;
  transform: rotate(-45deg);
  width: 33px;
  height: 22px;
  border-radius: 2px;
  transition: var(--t1);
}

.profile-skills label:hover {
  box-shadow: 0 0 0 3px var(--w1);
  transition: var(--t1);
}

.profile-skills label:hover:before {
  border-color: var(--b2);
  transition: var(--t1);
}

.profile-skills input:checked + label {
  box-shadow: 0 0 0 6px var(--w1);
  transition: var(--t1);
}

.profile-skills input:checked + label:before {
  border-color: #2187e7;
}

.profile-skills input#sk2:checked + label:before {
  border-color: #9acd32;
}

.profile-skills input#sk3:checked + label:before {
  border-color: #ff4500;
}

label[for="sk1"] {
  /*left: -10px;*/
}
label[for="sk2"] {
  /*left: calc(34% - 6px);*/
}


label[for="sk1"]:before {
  border-color: cornflowerblue;
}
label[for="sk2"]:before {
  border-color: yellowgreen;
}
label[for="sk3"]:before {
  border-color: orangered;
}

/*********************/
/*** BOTTOM LABELS ***/
/*********************/

ul.skills li.more {
  padding: 0;
  margin-bottom: 20px;
}

ul.skills li.more:before,
ul.skills li.more:after {
  display: none;
}

ul.skills li.more:hover {
  filter: none !important;
}

ul.skills li.more div {
  max-height: 0;
  transition: var(--t1);
  overflow: hidden;
  padding: 0;
  width: 100%;
}
ul.skills li.more input:checked ~ div {
  max-height: 150px;
  transition: var(--t1);
  padding: 20px 0 0;
}

ul.skills li.more div span:before,
ul.skills li.more div span:after {
  display: none;
}

ul.skills li.more label {
  background: linear-gradient(163deg, var(--b2) 50%, var(--w1) 50%);
  right: 0;
  left: inherit;
  top: inherit;
  bottom: -70px;
  color: var(--b2);
  background-size: 100% 300%;
  background-position-y: 100%;
  transition: var(--t1);
  width: 55px;
  height: 55px;
  right: -50px;
}

ul.skills li.more label:before {
  border: 0;
  height: 100%;
  width: 100%;
  transform: rotate(0deg);
  content: "+";
  content: "\271A";
  font-size: 45px;
  line-height: 55px;
  left: 0;
  top: 0;
  text-align: center;
  color: var(--c1);
}

ul.skills li.more label:hover {
  background-position-y: 0%;
  color: var(--w1) !important;
  transition: var(--t1);
  box-shadow: 0 0 0 10px var(--w1);
}

ul.skills li.more span {
  background: #1c1c1c;
  border-radius: 1px;
  margin: 10px 10px 1px 1px;
  padding: 4px 8px;
  display: inline-block;
  border: 1px solid #111;
  border-color: #111 #323232 #323232 #111;
}

ul.skills li.more span:hover {
  color: var(--w0);
  background: var(--c1);
  box-shadow: 0px 0px 5px 1px var(--c1);
  border-color: #fff2;
}

ul.skills li.more input:checked + label {
  box-shadow: 0 0 0 9px var(--w1);
  background-position-y: 0%;
  color: var(--w0);
  bottom: -70px;
}

ul.skills li.more input:checked + label:before {
  content: "\2759";
  transform: rotate(90deg);
  font-weight: 600;
}

ul.skills li.more input:checked + label:hover {
  box-shadow: 0 0 0 0 var(--w1);
  background-position-y: 100%;
  color: var(--b2) !important;
}

/*********************/
/*** MEDIA QUERIES ***/
/*********************/

@media only screen and (max-width: 1024px) {
  .content { height: 60vh; }
  .profile-skills {
    flex-direction: row;
    flex-wrap: wrap;
    top: 20px;
  }
  .profile-skills > div {
    width: 47% !important;
  }
  .profile-skills > div:nth-child(3) {
    width: 98% !important;
    margin-top: 120px;
  }
}


/*** Mobile view disabled to get (almost) the desired thumbnail ***/
/*** Uncomment below code to add the media query for mobile view ***/

/*
@media only screen and (max-width: 768px) {
  .content { height: 60vh; }
  .profile-skills {
    flex-direction: row;
    flex-wrap: wrap;
    top: 20px;
  }
  .profile-skills > div {
    width: 98% !important;
  }
  .profile-skills > div:nth-child(2), 
  .profile-skills > div:nth-child(3) {
    margin-top: 120px;
  }
  ul.skills li:after {
    width: calc(calc(var(--per) * 1%) - 2px);
  }
  ul.skills li span:before {
    transition: var(--t1);
    right: calc(calc(96.5 - var(--per)) * 1%);
    opacity: 1;
    border-right-color: #2187e7;
  }
  ul.skills2 li span:before {
    border-right-color: #9acd32;
  }
  ul.skills3 li span:before {
    border-right-color: #ff4500;
  }
  ul.skills li span:after {
    transition: var(--t1);
    right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
    opacity: 1;
    background: var(--c1);
  }
}
*/
